@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#050505] text-white antialiased selection:bg-green-500 selection:text-black;
    font-family: 'Outfit', sans-serif;
  }
}

/* Glassmorphism Utilities */
.glass-panel {
  @apply bg-[#121212]/80 backdrop-blur-xl border border-white/10 hover:shadow-[0_0_20px_5px_rgba(0,0,0,0.20)] shadow-green-300;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #22c55e;
}

/* Animations */
@keyframes scan-line {
  0% { top: 0%; }
  100% { top: 100%; }
}
.animate-scan {
  animation: scan-line 2s linear infinite;
}